.Footer{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #797979;
    padding: 15px 0;
}

.Footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}
@media(max-width: 600px){
    .Footer{
        display: block;
        text-align: center;
    }
    .Footer ul li{
        margin: 10px;
    }
    .Footer ul{
        margin-top: 10px;
    }
}